
<div class="container-fluid d-flex flex-column">
    <div class="row align-items-start justify-content-center min-vh-100">
        <div class="col-md-9 col-lg-6 my-5">
            <div class="text-center error-page">
                <h1 class="mb-0 text-secondary">404</h1>
                <h2 class="mb-4 text-white">Sorry, No movies were found with that criteria!</h2>
                <div>
                    <a href="#" class="btn btn-info btn-lg me-sm-2 mb-2 mb-sm-0">Return Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

    